/*STEAM COLORS
#171a21;
#c6d4df;
#67c1f5;
;
*/

h1, h2, h3, h4, h5, h6, p {
  font-size: ;
  color: rgb(88, 74, 148);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

p {
   font-size: 18px;
   color: rgb(185, 125, 125);
}

body {
  background-color: #1b2838;
}

CONTENEDOR DE TODO, HEADER, MENU, BODY, FOOTER
.container {
  padding-right: 0px;
  padding-left: 0px;
  flex-wrap: wrap;
}

MENU
.menu {
  padding: 15px 15px;
}

MENU STICKY
.responsive_header {
  display: none;
  background: #384665;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
  overflow: hidden;
  padding: 13px 8px;
}

.filter {
  align-self: center;
}

.ordenar {
  align-self: center;


}

.form-control {
  font-size: 13px;
  color: #0a1944;

}

.input-group {
  justify-content: center;

}

.arrowup {
  border: #0a1944;
}

CUERPO , PADDING PARA CENTRAR LUGR DE LOS POKMONES Y MENU :( 
.central {
  padding: 12px 25px 25px 25px;
}



.grafic {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;
  padding: 40px;
}


FOOTER
.footer {
  padding: 60px;
  color: 171a21;
  text-align: center;
  color: #1b2838;
}


.color4 {
  background: #67c1f5;
}

.color3 {
  background: #1b2838;
}